.navbar {
    display: flex;
    background-color: black;
}
.navbar a {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
}
.container {
    text-align: center;
}
table {
  border: 3px solid;
}
th, td {
  padding: 8px;
  border: 1px solid;
}
footer{
    background-color: gray;
}
#logo{
  padding: 20px;
    height: 50%;
    width: 50%;
}
#account {
    margin-left: auto;
}
