@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #f8f9fa;
}

.container {
    background-color: #ffffff;
    color: black;
    border-radius: 15px;
    width: 800px;
    max-width: 90%; /* Adatta meglio su schermi più piccoli */
    backdrop-filter: blur(40px);
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    min-height: 300px; /* Altezza minima per assicurare il layout */
}


.response-container {
    background-color: #f4f4f4;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.correct {
    color: green;
    font-weight: bold;
}
.incorrect {
    color: red;
    font-weight: bold;
}

#intro1 {
    text-align: center;
    color: #212529;
}

#intro1 h1 {
    color: #007bff;
    font-size: xx-large;
}

#intro1 p {
    font-size: larger;
    color: black;
}

#intro2 {
    text-align: center;
    color: #212529;
}

#intro2 h1 {
    color: #007bff;
    font-size: xx-large;
}
